@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-nav {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 20;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100%;
    width: 20%;
}


.left-first {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-first span {
    font-size: 20px;
    font-weight: 500;
}

#sideBtn {
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    padding: 0 20px;
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.bi-cart {
    font-size: 20px;
}


#profilePannel {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    outline: none;
}


#profileMenu{
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#profileMenu.show{
    display: flex;
}

.pMenuItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}


img.logo-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

img.admin-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#sideMenu {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
    background-color: #fff;
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

#sideMenu.show {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70px;
    width: 100%;
    background-color: #454545;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 600;
    color: #f6f6f6;
}

.navbar-brand:hover{
    color: #f6f6f6;
}


.side-links{
    width: 100%;
    background-color: #fff;
}

.smenu-title{
    font-size: 18px;
    font-weight: 400;
}

.slink-menu{
    list-style: none;
    padding: 0;
}

.slink-menu-item{
    width: 100%;
}

#providerContainer{
    display: none;
    flex-direction: column;
}

#providerContainer.show{
    display: flex;
}

.provider-container{
    list-style: none;
    padding: 0;
}

.main-content{
    padding: 100px 30px;
}

.content-header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title{
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.cumber-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
}

.cumber-item{
    padding: 0 10px;
}

.content-body{
    width: 100%;
}

.nav-buttons{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.useful-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;   
}

.useful-button-items{
    padding: 0 10px;
}

.filter-items{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-input{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter{
    width: 80px;
}

.task-list{
    padding: 20px 0;
}

.next-page{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-text{
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.supplier-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer{
    width: 100%;
    height: 70px;
    background-color: #454545;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    margin: 0;
    color: #f6f6f6;
    font-weight: 500;
}
.version{
    margin: 0;
    color: #f6f6f6;
    font-weight: 500;
}